html,
body {
    margin: 0;
    padding: 0;

    background-color: #111111;
    font-size: 23px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

html,
body,
a {
    color: #e7e7e7;
}

p,
ul,
h1,
h2 {
    margin: 0;
    padding: 0;
}

#root {
    flex: 1;
    padding: 23px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
}

h1 {
    padding-bottom: 19px;
}
h2 {
    padding-bottom: 11px;
}

footer {
    background-color: #171717;
    padding: 20px;
    margin-top: 11px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 18px;
}

main {
    flex-grow: 1;
}

section {
    background-color: #171717;
    padding: 30px;
    margin-top: 11px;
    margin-bottom: 11px;
}

section:first-child {
    margin-top: 0;
}
section:last-child {
    margin-bottom: 0;
}

input[type=text] {
    font-size: 25px;
    background-color: #1a1a1a;
    color: #fefefe;
    border: 1px solid #333333;
    padding: 7px;
}

.text-center {
    text-align: center;
}

.font-mono {
    font-family: monospace;
}
.small {
    font-size: 18px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.align-items-center {
    align-items: center;
}
.fill-width {
    width: 100%;
}
